%h1="List of Abductions by #{@alien.species}"
=link_to 'New Abduction', new_alien_abduction_path(@alien)
-@abductions.each do |abduction|
  %p
    =link_to "#{abduction.person.full_name} on #{abduction.date.strftime("%m/%d/%Y")} ", alien_abduction_path(@alien, abduction)
    -if abduction.anal_probe
      with butt stuff
    -else
      with no butt stuff
=link_to 'Back', alien_path(@alien)
